.page {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1280px;
    box-sizing: border-box;
    padding: 45px 200px 60px;
  }
  
  @media screen and (max-width: 1100px) {
    .page {
      padding: 28px 0px 36px;
    }
  }
  